<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ejemplo Auxiliar - IN3501</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

{% include 'miapp/menu.html' %}


<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <h1 class="text-uppercase mb-0">Creación de un nuevo estudiante</h1>
    </div>
</header>

<section id="agregar">
    <div class="container">
        <form method="POST" action="/add_student"> {% csrf_token %}
            
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Grupo</label>
                  <select class="form-control" id="exampleSelect" name="input Select">
                    {% for value in grupos %}
                    <option value="">{{value.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
            
            
            <input type="submit">

        </form>
    </div>
</section>



{% include 'miapp/footer.html' %}
</body>
</html>











